In [98]:
# loading dataset
# clean data
#visualize
#model

#Q1 best performing teams in each group
#Q2 most goals scored by a team in group stages
#Q3 player with most goals
#Q4 consistency of teams
#Q5 overall stats of a team
#Q6 worst performing team 
#Q7 best performing team 
#Q8 team which conceded least goals
#Q9 
#Q10


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [99]:
uefa_raw_df = pd.read_csv('../UEFA Champions League 2004-2021.csv')

In [100]:
uefa_raw_df.head()

,Unnamed: 0,homeTeam,homeScore,awayteam,awayscore,round,group,date
0,0,Club Brugge,1,Juventus,2,round : 1,A,2005-09-14
1,1,SK Rapid Wien,0,Bayern München,1,round : 1,A,2005-09-14
2,2,Arsenal,2,FC Thun,1,round : 1,B,2005-09-14
3,3,Sparta Praha,1,Ajax,1,round : 1,B,2005-09-14
4,4,Udinese,3,Panathinaikos,0,round : 1,C,2005-09-14

In [101]:
uefa_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738 entries, 0 to 1737
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1738 non-null   int64
 1   homeTeam    1738 non-null   object
 2   homeScore   1738 non-null   object
 3   awayteam    1738 non-null   object
 4   awayscore   1738 non-null   object
 5   round       1738 non-null   object
 6   group       1280 non-null   object
 7   date        1738 non-null   object
dtypes: int64(1), object(7)
memory usage: 108.8+ KB

In [102]:
uefa_raw_df.shape

(1738, 8)

In [103]:
uefa_raw_df.head()

,Unnamed: 0,homeTeam,homeScore,awayteam,awayscore,round,group,date
0,0,Club Brugge,1,Juventus,2,round : 1,A,2005-09-14
1,1,SK Rapid Wien,0,Bayern München,1,round : 1,A,2005-09-14
2,2,Arsenal,2,FC Thun,1,round : 1,B,2005-09-14
3,3,Sparta Praha,1,Ajax,1,round : 1,B,2005-09-14
4,4,Udinese,3,Panathinaikos,0,round : 1,C,2005-09-14

In [104]:
uefa_player_raw_df = pd.read_csv('../UEFA_CL_Player_stats.csv')

In [105]:
uefa_player_raw_df.head()

,Unnamed: 0,name,season,season year,team,rating,goals,bigChancesCreated,bigChancesMissed,assists,...,scoringFrequency,yellowRedCards,savesCaught,savesParried,totalOwnHalfPasses,totalOppositionHalfPasses,totwAppearances,appearances,substitutionsIn,substitutionsOut
0,0,Robin van Persie,Champions League 13/14,13/14,manchester-united,NaN,4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,NaN
1,1,Ashley Cole,Champions League 13/14,13/14,chelsea,NaN,0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,5,0.0,1.0
2,2,José Antonio Reyes,UEFA Champions League 15/16,15/16,sevilla,7.25,0,0.0,1.0,0.0,...,NaN,0.0,0.0,0.0,23.0,68.0,NaN,2,NaN,NaN
3,3,Roman Weidenfeller,Champions League 13/14,13/14,borussia-dortmund,NaN,0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,9,0.0,0.0
4,4,Roman Weidenfeller,Champions League 14/15,14/15,borussia-dortmund,NaN,0,NaN,NaN,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,7,0.0,0.0

In [106]:
uefa_player_raw_df.columns

Index(['Unnamed: 0', 'name', 'season', 'season year', 'team', 'rating',
       'goals', 'bigChancesCreated', 'bigChancesMissed', 'assists',
       ...
       'scoringFrequency', 'yellowRedCards', 'savesCaught', 'savesParried',
       'totalOwnHalfPasses', 'totalOppositionHalfPasses', 'totwAppearances',
       'appearances', 'substitutionsIn', 'substitutionsOut'],
      dtype='object', length=109)

In [107]:
uefa_player_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5733 entries, 0 to 5732
Columns: 109 entries, Unnamed: 0 to substitutionsOut
dtypes: float64(101), int64(4), object(4)
memory usage: 4.8+ MB

In [108]:
uefa_player_raw_df.isnull().sum()

Unnamed: 0                      0
name                            0
season                          0
season year                     0
team                            0
                             ...
totalOppositionHalfPasses    1664
totwAppearances              4543
appearances                     0
substitutionsIn              4167
substitutionsOut             4167
Length: 109, dtype: int64

In [109]:
uefa_raw_df.isnull().sum()

Unnamed: 0      0
homeTeam        0
homeScore       0
awayteam        0
awayscore       0
round           0
group         458
date            0
dtype: int64

In [110]:
uefa_player_raw_df.shape

(5733, 109)

In [111]:
uefa_player_needed_df = uefa_player_raw_df[(uefa_player_raw_df['season year'] == '19/20')]

In [112]:
uefa_player_needed_df.shape

(685, 109)

In [113]:
import datetime as dt
uefa_raw_df['date'] = pd.to_datetime(uefa_raw_df['date'])

In [114]:
uefa_raw_df['year'] = uefa_raw_df['date'].dt.year

In [115]:
uefa_raw_df.head()

,Unnamed: 0,homeTeam,homeScore,awayteam,awayscore,round,group,date,year
0,0,Club Brugge,1,Juventus,2,round : 1,A,2005-09-14,2005
1,1,SK Rapid Wien,0,Bayern München,1,round : 1,A,2005-09-14,2005
2,2,Arsenal,2,FC Thun,1,round : 1,B,2005-09-14,2005
3,3,Sparta Praha,1,Ajax,1,round : 1,B,2005-09-14,2005
4,4,Udinese,3,Panathinaikos,0,round : 1,C,2005-09-14,2005

In [116]:
uefa_needed_df = uefa_raw_df[(uefa_raw_df['year'] >=2019)]

In [117]:
uefa_needed_df.shape

(241, 9)

In [118]:
uefa_needed_df.head()

,Unnamed: 0,homeTeam,homeScore,awayteam,awayscore,round,group,date,year
1497,1497,Manchester United,0,Paris Saint-Germain,2,round : 18,NaN,2019-02-12,2019
1498,1498,Roma,2,FC Porto,1,round : 18,NaN,2019-02-12,2019
1499,1499,Ajax,1,Real Madrid,2,round : 18,NaN,2019-02-13,2019
1500,1500,Tottenham,3,Borussia Dortmund,0,round : 18,NaN,2019-02-13,2019
1501,1501,Liverpool,0,Bayern München,0,round : 18,NaN,2019-02-19,2019

In [119]:
uefa_needed_df['group'].isnull().sum()

81

In [120]:
uefa_group_stage_df = uefa_needed_df.drop(uefa_needed_df[uefa_needed_df['group'].isnull()].index, axis=0)

In [121]:
uefa_group_stage_df.shape

(160, 9)

In [122]:
uefa_group_stage_df.head()

,Unnamed: 0,homeTeam,homeScore,awayteam,awayscore,round,group,date,year
1526,1526,Club Brugge,0,Galatasaray,0,round : 1,A,2019-09-18,2019
1527,1527,Paris Saint-Germain,3,Real Madrid,0,round : 1,A,2019-09-18,2019
1528,1528,Olympiacos,2,Tottenham,2,round : 1,B,2019-09-18,2019
1529,1529,Bayern München,3,FK Crvena zvezda,0,round : 1,B,2019-09-18,2019
1530,1530,GNK Dinamo Zagreb,4,Atalanta,0,round : 1,C,2019-09-18,2019

In [139]:
uefa_player_needed_df.shape

(685, 109)

In [127]:
sorted_player_list = uefa_player_needed_df.sort_values(by=['rating'],ascending=False)

In [136]:
sorted_player_list['rating'].median()

6.7714285714286

In [133]:
sorted_player_list.head()

,Unnamed: 0,name,season,season year,team,rating,goals,bigChancesCreated,bigChancesMissed,assists,...,scoringFrequency,yellowRedCards,savesCaught,savesParried,totalOwnHalfPasses,totalOppositionHalfPasses,totwAppearances,appearances,substitutionsIn,substitutionsOut
2072,2072,Robert Lewandowski,UEFA Champions League 19/20,19/20,bayern-munchen,8.350000,15,6.0,11.0,5.0,...,59.133333,0.0,0.0,0.0,34.0,220.0,2.0,10,NaN,NaN
702,702,Lionel Messi,UEFA Champions League 19/20,19/20,barcelona,8.012500,3,7.0,4.0,3.0,...,220.333333,0.0,0.0,0.0,59.0,337.0,3.0,8,NaN,NaN
2885,2885,Neto,UEFA Champions League 19/20,19/20,barcelona,8.000000,0,0.0,0.0,0.0,...,0.000000,0.0,0.0,2.0,31.0,8.0,0.0,1,NaN,NaN
1449,1449,Toni Kroos,UEFA Champions League 19/20,19/20,real-madrid,7.966667,1,2.0,1.0,1.0,...,540.000000,0.0,0.0,0.0,155.0,372.0,2.0,6,NaN,NaN
3241,3241,Harry Kane,UEFA Champions League 19/20,19/20,tottenham,7.960000,6,3.0,4.0,0.0,...,75.000000,0.0,0.0,0.0,12.0,91.0,1.0,5,NaN,NaN

In [140]:
value_player_list = sorted_player_list[sorted_player_list['rating'] > sorted_player_list['rating'].median()]

In [141]:
value_player_list.shape

(342, 109)

In [142]:
value_player_list.drop(columns =['substitutionsOut','substitutionsIn','totwAppearances','yellowRedCards'])

,Unnamed: 0,name,season,season year,team,rating,goals,bigChancesCreated,bigChancesMissed,assists,...,totalLongBalls,goalsConceded,tacklesWon,tacklesWonPercentage,scoringFrequency,savesCaught,savesParried,totalOwnHalfPasses,totalOppositionHalfPasses,appearances
2072,2072,Robert Lewandowski,UEFA Champions League 19/20,19/20,bayern-munchen,8.350000,15,6.0,11.0,5.0,...,6.0,7.0,6.0,60.000000,59.133333,0.0,0.0,34.0,220.0,10
702,702,Lionel Messi,UEFA Champions League 19/20,19/20,barcelona,8.012500,3,7.0,4.0,3.0,...,24.0,13.0,1.0,50.000000,220.333333,0.0,0.0,59.0,337.0,8
2885,2885,Neto,UEFA Champions League 19/20,19/20,barcelona,8.000000,0,0.0,0.0,0.0,...,22.0,1.0,0.0,0.000000,0.000000,0.0,2.0,31.0,8.0,1
1449,1449,Toni Kroos,UEFA Champions League 19/20,19/20,real-madrid,7.966667,1,2.0,1.0,1.0,...,57.0,9.0,12.0,80.000000,540.000000,0.0,0.0,155.0,372.0,6
3241,3241,Harry Kane,UEFA Champions League 19/20,19/20,tottenham,7.960000,6,3.0,4.0,0.0,...,8.0,11.0,3.0,100.000000,75.000000,0.0,0.0,12.0,91.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4861,4861,Hans Hateboer,UEFA Champions League 19/20,19/20,atalanta,6.775000,2,2.0,1.0,1.0,...,17.0,12.0,3.0,37.500000,295.500000,0.0,0.0,80.0,139.0,9
5285,5285,Ousmane Dembélé,UEFA Champions League 19/20,19/20,barcelona,6.775000,0,1.0,0.0,0.0,...,4.0,0.0,0.0,0.000000,0.000000,0.0,0.0,8.0,59.0,4
4163,4163,Kenny Tete,UEFA Champions League 19/20,19/20,olympique-lyonnais,6.775000,0,1.0,0.0,0.0,...,8.0,3.0,2.0,66.666667,0.000000,0.0,0.0,25.0,43.0,5
5148,5148,Jeff Reine-Adélaïde,UEFA Champions League 19/20,19/20,olympique-lyonnais,6.775000,0,0.0,0.0,0.0,...,9.0,4.0,4.0,80.000000,0.000000,0.0,0.0,38.0,131.0,8
5069,5069,Ianis Hagi,UEFA Champions League 19/20,19/20,krc-genk,6.775000,0,0.0,0.0,0.0,...,10.0,2.0,1.0,50.000000,0.000000,0.0,0.0,12.0,69.0,5